## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/

## Visual Studio Code
.vscode/

## Rider
.idea/

## NuGet
*.nupkg
packages/

## ASP.NET Core
appsettings.Development.json

## Logs
*.log

## OS files
.DS_Store
Thumbs.db